Repository nv-morpheus/Morpheus, pull requests merged in 2022-12, with the labels that each got.

#519 Documentation updates
  CONTRIBUTING.md
  README.md
  docs/source/basics/building_a_pipeline.rst
  docs/source/conf.py
  docs/source/developer_guide/examples/abp_nvsmi_detection.md
  docs/source/developer_guide/examples/abp_pcap_detection.md
  docs/source/developer_guide/examples/gnn_fraud_detection_pipeline.md
  docs/source/developer_guide/examples/index.rst
  docs/source/developer_guide/examples/log_parsing.md
  docs/source/developer_guide/examples/nlp_si_detection.md
  docs/source/developer_guide/examples/ransomware_detection.md
  docs/source/developer_guide/examples/root_cause_analysis.md
  docs/source/developer_guide/examples/sid_visualization.md
  docs/source/developer_guide/guides/1_simple_python_stage.md
  docs/source/developer_guide/guides/2_real_world_phishing.md
  docs/source/developer_guide/guides/3_simple_cpp_stage.md
  docs/source/developer_guide/guides/4_source_cpp_stage.md
  docs/source/developer_guide/guides/5_digital_fingerprinting.md
  docs/source/index.rst
  docs/source/morpheus_quickstart_guide.md
  examples/abp_nvsmi_detection/README.md
  examples/abp_pcap_detection/run.py
  examples/digital_fingerprinting/README.md
  examples/digital_fingerprinting/production/README.md
  examples/digital_fingerprinting/production/morpheus/dfp_azure_inference.ipynb
  examples/digital_fingerprinting/production/morpheus/dfp_azure_pipeline.py
  examples/digital_fingerprinting/production/morpheus/dfp_azure_training.ipynb
  examples/digital_fingerprinting/production/morpheus/dfp_duo_inference.ipynb
  examples/digital_fingerprinting/production/morpheus/dfp_duo_pipeline.py
  examples/digital_fingerprinting/production/morpheus/dfp_duo_training.ipynb
  examples/digital_fingerprinting/visualization/README.md
  examples/digital_fingerprinting/visualization/dfp_viz_azure_pipeline.py
  examples/digital_fingerprinting/visualization/dfp_viz_duo_pipeline.py
  examples/gnn_fraud_detection_pipeline/run.py
  examples/nlp_si_detection/README.md
  examples/ransomware_detection/run.py
  examples/root_cause_analysis/README.md
  examples/sid_visualization/run.py
  models/datasets/README.md
  models/mlflow/README.md
  models/training-tuning-scripts/root-cause-models/resources/bert-base-uncased-hash.txt
  models/training-tuning-scripts/root-cause-models/root-cause-bert.ipynb
Labels: non-breaking, doc, 3 - Ready for Review

#526 Rename morpheus_quickstart_guide to cloud_deployment_guide
  docs/source/cloud_deployment_guide.md
  docs/source/index.rst
  examples/digital_fingerprinting/production/README.md
Labels: non-breaking, doc

#532 525 doc images in docs/source/basics/img should be moved to LFS
  .gitattributes
  docs/source/basics/img/monitor_throughput.png
  docs/source/basics/img/multi_monitor_throughput.png
  docs/source/basics/img/nlp_kitchen_sink.png
  docs/source/basics/img/remove_fields_from_json_objects.png
  docs/source/basics/img/simple_identity.png
Labels: non-breaking, doc, 3 - Ready for Review

#528 524 doc remove usage of buffer stage from examples.rst
  docs/source/basics/examples.rst
  docs/source/basics/img/multi_monitor_throughput.png
  docs/source/basics/img/nlp_kitchen_sink.png
Labels: non-breaking, doc, 3 - Ready for Review

#534 Morpheus not "Morpheus SDK"
  CONTRIBUTING.md
  README.md
  docs/source/cloud_deployment_guide.md
  docs/source/developer_guide/guides/5_digital_fingerprinting.md
  docs/source/getting_started.md
  docs/source/index.rst
  examples/digital_fingerprinting/production/README.md
  examples/log_parsing/README.md
  examples/ransomware_detection/README.md
Labels: non-breaking, doc, 3 - Ready for Review

#536 Restructure the getting started guide
  .gitattributes
  CONTRIBUTING.md
  README.md
  docs/source/basics/examples.rst
  docs/source/basics/img/remove_fields_from_json_objects.png
  docs/source/basics/img/simple_identity.png
  docs/source/cloud_deployment_guide.md
  docs/source/developer_guide/examples/abp_nvsmi_detection/README.md
  docs/source/developer_guide/examples/abp_nvsmi_detection/pipeline.png
  docs/source/developer_guide/examples/abp_pcap_detection/README.md
  docs/source/developer_guide/examples/gnn_fraud_detection_pipeline/README.md
  docs/source/developer_guide/examples/log_parsing/README.md
  docs/source/developer_guide/examples/nlp_si_detection/README.md
  docs/source/developer_guide/examples/nlp_si_detection/pipeline.png
  docs/source/developer_guide/examples/ransomware_detection/README.md
  docs/source/developer_guide/examples/root_cause_analysis/README.md
  docs/source/developer_guide/examples/sid_visualization/README.md
  docs/source/developer_guide/guides.md
  docs/source/developer_guide/guides/index.rst
  docs/source/examples.md
  docs/source/examples/abp_nvsmi_detection/README.md
  docs/source/examples/abp_nvsmi_detection/pipeline.png
  docs/source/examples/abp_pcap_detection/README.md
  docs/source/examples/basic_usage/README.md
  docs/source/examples/basic_usage/img
  docs/source/examples/gnn_fraud_detection_pipeline/README.md
  docs/source/examples/index.rst
  docs/source/examples/log_parsing/README.md
  docs/source/examples/nlp_si_detection/README.md
  docs/source/examples/nlp_si_detection/pipeline.png
  docs/source/examples/ransomware_detection/README.md
  docs/source/examples/root_cause_analysis/README.md
  docs/source/examples/sid_visualization/README.md
  docs/source/getting_started.md
  docs/source/index.rst
  examples/basic_usage/README.md
  examples/basic_usage/img/monitor_throughput.png
  examples/basic_usage/img/multi_monitor_throughput.png
  examples/basic_usage/img/nlp_kitchen_sink.png
  examples/basic_usage/img/remove_fields_from_json_objects.png
  examples/basic_usage/img/simple_identity.png
  examples/digital_fingerprinting/production/README.md
Labels: non-breaking, doc, 2 - In Progress

#546 Update cloud deployment guide and fix doc build instructions.
  docs/README.md
  docs/source/cloud_deployment_guide.md
Labels: non-breaking, doc

#537 Move DFP Viz screenshot to LFS
  .gitattributes
  examples/digital_fingerprinting/visualization/img/screenshot.png
Labels: non-breaking, doc, 3 - Ready for Review

#523 Update to PyTorch 1.12
  docker/conda/environments/requirements.txt
  models/validation-inference-scripts/dfp-models/requirements.txt
  models/validation-inference-scripts/log-parsing-models/log-parsing-inference.py
  models/validation-inference-scripts/phishing-models/phish-bert-inference-script.py
  models/validation-inference-scripts/root-cause-models/root-cause-inference.py
  setup.py
Labels: non-breaking, improvement, 3 - Ready for Review

#547 Misc documentation fixes
  .gitattributes
  .pylintrc
  CONTRIBUTING.md
  README.md
  ci/conda/recipes/morpheus/meta.yaml
  ci/scripts/github/docs.sh
  docker/conda/environments/cuda11.5_dev.yml
  docker/run_container_dev.sh
  docker/run_container_release.sh
  docs/source/_static/omni-style.css
  docs/source/api.rst
  docs/source/basics/building_a_pipeline.rst
  docs/source/basics/overview.rst
  docs/source/cloud_deployment_guide.md
  docs/source/conf.py
  docs/source/developer_guide/contributing.md
  docs/source/developer_guide/guides.md
  docs/source/developer_guide/guides/1_simple_python_stage.md
  docs/source/developer_guide/guides/2_real_world_phishing.md
  docs/source/developer_guide/guides/3_simple_cpp_stage.md
  docs/source/developer_guide/guides/4_source_cpp_stage.md
  docs/source/developer_guide/guides/img/sink_deps.png
  docs/source/developer_guide/guides/index.rst
  docs/source/examples/sid_visualization/img
  docs/source/getting_started.md
  docs/source/img/morpheus-banner.png
  docs/source/index.rst
  examples/developer_guide/2_2_rabbitmq/write_to_rabbitmq_stage.py
  examples/developer_guide/4_rabbitmq_cpp_stage/write_to_rabbitmq_stage.py
  examples/digital_fingerprinting/production/conda_env.yml
  examples/gnn_fraud_detection_pipeline/README.md
  examples/gnn_fraud_detection_pipeline/requirements.yml
  examples/ransomware_detection/README.md
  examples/sid_visualization/README.md
  img/morpheus-banner.png
  morpheus/cli/__init__.py
  morpheus/messages/__init__.py
  morpheus/pipeline/stream_pair.py
  morpheus/pipeline/stream_wrapper.py
  morpheus/stages/general/trigger_stage.py
  morpheus/stages/input/appshield_source_stage.py
Labels: non-breaking, doc, 3 - Ready for Review

#571 getting_started.md: Goto is two words.
  docs/source/getting_started.md
Labels: non-breaking, doc, 3 - Ready for Review

#572 Remove search link from index.rst
  docs/source/index.rst
Labels: non-breaking, doc, 3 - Ready for Review

#556 Updating CI runner image for MRC and C++20
  .github/workflows/pull_request.yml
Labels: non-breaking, improvement

#570 Minor fixes/updates to abp_pcap_detection example
  examples/abp_pcap_detection/README.md
Labels: non-breaking, doc, 3 - Ready for Review

#578 Update container version to 23.01 in DFP docker-compose
  examples/digital_fingerprinting/production/conda_env.yml
  examples/digital_fingerprinting/production/docker-compose.yml
Labels: bug, non-breaking, 3 - Ready for Review

#575 Small updates to examples/basic_usage/README.md
  examples/basic_usage/README.md
Labels: non-breaking, doc, 3 - Ready for Review
