Repository nv-morpheus/Morpheus, pull requests merged in 2025-02, with the labels that each got.

#2167 Pin numba to 0.60
  .github/workflows/ci_pipe.yml
  ci/conda/recipes/morpheus-libs/meta.yaml
  ci/conda/recipes/morpheus/meta.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/environments/dev_cuda-125_arch-aarch64.yaml
  conda/environments/dev_cuda-125_arch-x86_64.yaml
  conda/environments/examples_cuda-125_arch-aarch64.yaml
  conda/environments/examples_cuda-125_arch-x86_64.yaml
  conda/environments/runtime_cuda-125_arch-aarch64.yaml
  conda/environments/runtime_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, non-breaking, conda-build

#2173 Remove out of date documentation
  README.md
  ci/release/update-version.sh
  docs/source/cloud_deployment_guide.md
  docs/source/developer_guide/guides/5_digital_fingerprinting.md
  docs/source/extra_info/glossary.md
  docs/source/index.rst
  examples/digital_fingerprinting/production/README.md
Labels: non-breaking, doc, ! - Hotfix

#2174 Perform `apt upgrade` during docker build of the models container
  ci/release/download_deps.py
  models/docker/Dockerfile
Labels: bug, non-breaking, ! - Hotfix

#2176 Include a Third Party OSS notice in the entrypoint banner
  .dockerignore
  ci/release/download_deps.py
  ci/release/update-version.sh
  docker/entrypoint.sh
  models/docker/Dockerfile
  thirdparty/README.md
  thirdparty/models-container-thirdparty-oss.txt
  thirdparty/morpheus-container-thirdparty-oss.txt
Labels: non-breaking, doc, ! - Hotfix

#2170 Several fixes & improvements of C++ `MonitorStage`
  python/morpheus/morpheus/_lib/include/morpheus/controllers/monitor_controller.hpp
  python/morpheus/morpheus/stages/general/monitor_stage.py
Labels: bug, non-breaking

#2178 Remove `pe_count` option from `MonitorStage`
  python/morpheus/morpheus/stages/general/monitor_stage.py
Labels: bug, non-breaking, ! - Hotfix
